EXPO_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_AI_URL=http://localhost:8001
EXPO_PUBLIC_APP_NAME=CliniqAI

# Firebase
EXPO_PUBLIC_FIREBASE_IOS_API_KEY=your-ios-key
EXPO_PUBLIC_FIREBASE_ANDROID_API_KEY=your-android-key
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your-gcp-project-id
